
:root {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  font-size: 16;
  --bg: #FFD600;
  --link: #e7c100;
}

.titleRow {
  display: flex;
  margin-bottom: 20px;
  text-decoration: double underline;
  text-decoration-color: var(--bg);
}

.colfg {
  color: var(--bg);
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.titlesmall {
  /* display: list-item;
  list-style-position: inside; */
  font-size: 20px;
  margin: 0px 0px 10px;
}

.btn{
  margin-top: 10px;
  border: none;
  background-color: var(--bg);
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
}

.step {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 12px;
  border-radius: 5px;
  margin-bottom: 5px;
}

a:link{
  text-decoration: none;
  color:var(--link);
}

a:visited{
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

.rowleft {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
