@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg: #0077d8;
    --bg-light: #68b2f0;
    --link: #00a2ff;
    --border-color: rgba(0, 0, 0, 0.1);
    --btn-hover: #1b87de;
    --input-title: #000000;
    --err: rgb(255, 0, 0);
    --err-light: rgb(255, 145, 145);
}

body {
    font-family: 'Poppins', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* @media (max-width: 750px) {
    .container {
        width: 100%;
        padding: 10px 20px 60px;
        background-color: white;
    }
}

@media (min-width: 751px) {
    body {
        background-color: #f0f0f0;
    }

    .container {
        min-height: 100vh;
        width: 620px;
        padding: 20px 40px;
        background-color: white;
        box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
    }
}

@media (min-width: 600px) {
    .small-title-icon {
        display: none;
    }
}

@media (max-width: 601px) {
    .big-title-icon {
        display: none;
    }
} */

.success-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-text {
    font-size: 24px;
    margin: 30px 30px 0px;
    text-align: center;
}

.error {
    color: var(--err);
}

.error-light {
    color: var(--err-light);
}

.big-title-icon {
    margin: 20px 20px 0px;
}

.step-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* @media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px 20px 60px;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    }
    input {
        width: 100%;
    }
}

@media (min-width: 601px) {
    .container {
        max-width: 900px;
        padding: 20px 40px;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    }
} */


.title-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.title {
    color: var(--bg);
}

.title-light {
    color: var(--bg-light);
}

.small-input-title {
    padding: 7px 0;
    font-size: 25px;
    font-weight: 600;
    color: var(--input-title);
}

.small-title-row {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    align-items: flex-end;
    justify-content: space-between;
}

.small-title {
    font-size: 30px;
    font-weight: 600;
}

.small-title-icon {
    margin-right: 20px;
}

.step {
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.step-row-text {
    width: 100%;
}

.step-description {
    margin-bottom: 10px;
    line-height: 1.4;
}

svg {
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

a {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    text-decoration: underline;
}

.confirm-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 24px;
    border: none;
    background-color: var(--bg);
    border-radius: 6px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.confirm-btn:hover {
    background-color: var(--btn-hover);
}

.confirm-btn[disabled] {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 24px;
    border: none;
    background-color: #8a8a8a;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    cursor: not-allowed;
}

.btnrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.success {
    padding: 12px 24px;
    width: 100%;
    margin: 0 auto;
}

/* .sucbig {
    font-size: 40px;
}

.sucsmall {
    font-size: 25px;
} */

input[type=text] {
    width: 100%;
    padding: 12px 16px;
    border-width: 0 0 1px 0;
    border-color: #aaa;
    background: #efefef;
    font-size: 16px;
    font-family: monospace;
    margin-top: 16px;
}

input[type=text]:focus {
    outline: none;
    border-color: var(--bg-light);
}

.help {
    color: #343434;
    line-height: 0.9;
    font-size: 14px;
}
