@media (max-width: 750px) {
    .container {
        width: 100%;
        padding: 10px 20px 60px;
        background-color: white;
    }
}

@media (min-width: 751px) {
    body {
        background-color: #f0f0f0;
    }

    .container {
        min-height: 100vh;
        width: 620px;
        padding: 20px 40px;
        background-color: white;
        box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
    }
}

@media (min-width: 601px) {
    .container {
        max-width: 900px;
        padding: 20px 40px;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    }
}


@media (min-width: 600px) {
    .small-title-icon {
        display: none;
    }
}

@media (max-width: 601px) {
    .big-title-icon {
        display: none;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px 20px 60px;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    }
    input {
        width: 100%;
    }
}
